<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Modern Business - Start Bootstrap Template</title>

  <!-- Bootstrap Core CSS -->
  <link href="../../styles/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="../../styles/modern-business.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="../../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>
<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Kontakt
      </h1>
    </div>
  </div>
  <!-- /.row -->

  <!-- Content Row -->
  <div class="row">
    <!-- Map Column -->
    <div class="col-md-8">
      <!-- Embedded Google Map -->
    <!--  <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>
    -->
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2661.4338763841192!2d17.066705315125116!3d48.159718557598474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDjCsDA5JzM1LjAiTiAxN8KwMDQnMDguMCJF!5e0!3m2!1ssk!2sus!4v1461507347874" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <!-- Contact Details Column -->
    <div class="col-md-4">
      <h3>Kontaktné údaje</h3>
      <p>
        Staré grunty 36, <br>841 04, Bratislava
      </p>
      <p><i class="fa fa-envelope-o"></i>
        <abbr title="Email">Email</abbr>: <a href="mailto:kc@mlynska.sk">kc@mlynska.sk</a>
      </p>
      <p><i class="fa fa-clock-o"></i>
        <abbr title="Hours">Otváracie hodiny</abbr>: Každý deň: od 17:00 do 23:00</p>
      <ul class="list-unstyled list-inline list-social-icons">
        <li>
          <a href="https://www.facebook.com/kc.mlynskadolina?fref=ts"><i class="fa fa-facebook-square fa-2x"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <!-- /.row -->

  <!-- Contact Form -->
  <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
  <div class="row">
    <div class="col-md-8">
      <h3>Pošli nám správu!</h3>
      <form name="sentMessage" ng-submit="sendMail()" required
            blur="submitToggle" novalidate>
        <div class="control-group form-group">
          <div class="controls">
            <label>Meno a priezvisko:</label>
            <input type="text" ng-model="name" class="form-control" id="name" required data-validation-required-message="Prosím, zadajte Vaše meno a priezvisko.">
            <p class="help-block"></p>
          </div>
        </div>
        <div class="control-group form-group">
          <div class="controls">
            <label>Predmet:</label>
            <input type="text" ng-model="subject" class="form-control" id="subject" required data-validation-required-message="Predmet.">
            <p class="help-block"></p>
          </div>
        </div>
        <div class="control-group form-group">
          <div class="controls">
            <label>Emailová adresa</label>
            <input type="email" ng-model="email" class="form-control" id="email" required data-validation-required-message="Prosím, zadajte Váš mail.">
          </div>
        </div>
        <div class="control-group form-group">
          <div class="controls">
            <label>Správa:</label>
            <textarea rows="10" ng-model="body" cols="100" class="form-control" id="message" required data-validation-required-message="Prosím, zadajte telo správy." maxlength="999" style="resize:none"></textarea>
          </div>
        </div>
        <div id="success"></div>
        <!-- For success/fail messages -->
        <button type="submit">Poslať</button>
      </form>
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="../../scripts/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../../scripts/js/bootstrap.min.js"></script>

<!-- Contact Form JavaScript -->
<!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
<script src="../../scripts/js/jqBootstrapValidation.js"></script>
<script src="../../scripts/js/contact_me.js"></script>

</body>

</html>
